<div class="retraction-watch-footer">
    <div class="container">
        <div class="row p-t-xs">
            <div class="col-xs-12">
                <div class="text-center retraction-watch-footer-links">
                    <div>
                        <span>{{t "global.retraction_watch"}}: </span>
                        {{!Support Link}}
                        <span>
                            <a href="mailto:support@osf.io"
                               onclick={{action 'click' 'link' 'Retraction Watch - Footer - Support'}}
                            >
                                {{t "components.retraction-watch-footer.support"}}
                            </a>
                        </span>
                        <span> | </span>
                         {{!Contact Link}}
                        <span>
                            <a href="mailto:retractionwatchteam@gmail.com"
                               onclick={{action 'click' 'link' 'Retraction Watch - Footer - Contact'}}
                            >
                                {{t "components.retraction-watch-footer.contact"}}
                            </a>
                        </span>
                        <span> | </span>
                    </div>
                    <div class="social">
                        {{!Blog Link}}
                        <a href="http://retractionwatch.com"
                           aria-label='retraction watch blog'
                           onclick={{action 'click' 'link' 'Retraction Watch - Footer - Blog'}}
                        >
                            <span class="hint--top" aria-label="Retraction Watch Blog"><i class="fa fa-pencil-square-o fa-2x"></i></span>
                        </a>
                        {{!TWITTER}}
                        <a href="https://twitter.com/RetractionWatch"
                           aria-label={{t "components.retraction-watch-footer.twitter"}}
                           onclick={{action 'click' 'link' 'Retraction Watch - Footer - Twitter'}}
                        >
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                        {{!FACEBOOK}}
                        <a href="https://www.facebook.com/retractionwatch"
                           aria-label={{t "components.retraction-watch-footer.facebook"}}
                           onclick={{action 'click' 'link' 'Retraction Watch - Footer - Facebook'}}
                        >
                            <i class="fa fa-2x fa-facebook"></i>
                        </a>
                    </div>
                </div>
                {{osf-copyright class='text-center'}}
            </div>
        </div>
    </div>
</div>