<div class="retraction-watch-navbar navbar">
    <div class="container">
        <div class="navbar-header">
            {{#link-to "index" class="navbar-brand" invokeAction=(action "click" "link" "Retraction Watch - Navbar - Index")}}{{t "global.retraction_watch_database"}}{{/link-to}}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#retraction-watch-navbar-links">
                <span class="sr-only">{{t "components.preprint-navbar.toggle"}}</span>
                <span class="fa fa-bars fa-lg"></span>
            </button>
        </div>
        <div id="retraction-watch-navbar-links" class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li>{{#link-to "discover" class="" invokeAction=(action "click" "link" "Retraction Watch - Navbar - Browse")}}{{t "global.browse"}}{{/link-to}}</li>
                <li><a href='http://retractionwatch.com/' class="" onclick={{action "click" "link" "Retraction Watch - Navbar - Blog"}}>{{t "global.blog"}}</a></li>

            </ul>
        </div>
    </div>
</div>