<div class="retraction-watch-page"> {{!INDEX}}

    <div class="retraction-watch-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-t-lg m-b-xs p-r-xl col-xs-12"> {{! Logo currently off-center, so adjustment added w/ p-r-xl}}
                    <div class="retraction-watch-brand"></div>
                </div>
                {{!SEARCH}}
                <div class="retraction-watch-search col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 m-t-xs m-b-xl" >
                    {{search-retraction-watch search="search"}}
                </div>
            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}

    {{!BROWSE}}
    <div class="browse-retraction-watch">
        <div class="container"> {{!CONTAINER DIV}}
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 p-v-lg">
                    <div> {{!Retraction Watch Explanation}}
                        <p class="retraction-watch-explanation">
                            {{t "index.browse.explanation1"}} <strong> {{t "index.browse.explanation2"}} </strong>
                            {{t "index.browse.explanation3"}}
                            <a class="blog_link" href="http://retractionwatch.com/"
                                {{action "click" "link" "Retraction Watch - Index - Blog"}}>
                                {{t "index.browse.explanation4"}}
                            </a>
                            {{t "index.browse.explanation5"}}
                        </p>
                    </div> {{!END EXPLANATION}}
                    <div class="text-center p-t-md p-b-sm">
                        {{#link-to "discover"
                            type="button" class="retraction-watch-browse-button"
                            invokeAction=(action 'click' 'button' 'Retraction Watch - Index - Browse Button')
                        }}
                            {{t "index.browse.button"}}
                        {{/link-to}}
                    </div>
                </div>
            </div>{{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END BROWSE SECTION}}



    <div class="p-v-md"> {{!BLOG POSTS}}
        <div class="container p-b-lg">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="blog-post-heading">{{t "index.latest_blog_posts"}}</h2> {{! Latest Posts}}
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 blog-posts-block">
                            {{#each blogAttributes as |entry|}} {{!Individual Blog Entries}}
                                <div class="p-b-sm">
                                    <h3 class="blog-title">
                                        <a href={{entry.link}}>
                                            {{entry.title}}
                                        </a>
                                    </h3>
                                    <h4> <em>{{entry.author}}</em></h4>
                                    <h5> {{moment-format entry.date}}</h5>
                                    <p class="individual-blog-links"> {{html-safe entry.description}} </p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {{!END BLOG POSTS}}

</div> {{!END INDEX}}
